<?xml version="1.0"?>
<launch>
  <include file="$(find f1tenth_simulator)/launch/simulator.launch"/>

  <include file="$(find path_planner)/launch/read_raceline.launch"/>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="pure_pursuit" name="pure_pursuit" type="pure_pursuit.py" output="screen"> </node>

</launch>