<?xml version="1.0"?>
<launch>
 	<arg name="ttc_th" default="0.13" />
  	  	
	 <include 
 		file="$(find f1tenth_simulator)/launch/simulator.launch">
 	</include>
 
 	<node 
	 	pkg="safety_node2" 
	 	name="safety_node" 
	 	type="safety_node.py" 
	 	output="screen">
	 	<rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
	 	<param name="brake_ttc_threshold" value="$(arg ttc_th)"/>
	 </node>
	 
</launch>
	
