<?xml version="1.0"?>
<launch>
  <!-- Listen to messages from joysicks -->
  <node pkg="joy" name="joy_node" type="joy_node"/>

    <!-- Launch a map from the maps folder HATTE ICH GELÖSCHT
  <arg name="map" default="$(find f1tenth_simulator)/maps/f1_aut_wide.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/> -->


  <!-- Launch the racecar model -->
  <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the Random Walker Node -->
  <node pkg="f1tenth_simulator" name="random_walker" type="random_walk" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the Keyboard Node -->
  <node pkg="f1tenth_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- ***Put launch command for new planner here:-->
  <!-- Launch the New Planner Node -->
  <!--   <node pkg="f1tenth_simulator" name="new node's name" type="new file name" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	 </node>    -->

  <include file="$(find f1tenth_simulator)/launch/map_server.launch"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="odometry_topic" default="/vesc/odom"/>
  <!-- <arg name="odometry_topic" default="/odom"/> -->
  <arg name="angle_step" default="18"/>
  <arg name="max_particles" default="4000"/>
  <arg name="squash_factor" default="2.2"/>
  <arg name="viz" default="1"/>
	

  <include file="$(find f1tenth_simulator)/launch/amcl.launch"/>
   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.45 0 0.0 0.0 base_link laser 100"/>
   <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0.1 0 0 0 1.0 map odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="odom_publisher_map_odom" args="0 0 0 0 0 0 1 map odom 100" />

  <include file="$(find f1tenth_simulator)/launch/ekf_odom_amcl.launch"/>
  


  <!--  <node pkg="rviz" type="rviz" name="rviz"/>  -->
  
  <!-- Launch RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_simulator)/launch/simulator.rviz" output="screen"/>
</launch>
